<div class="site-footer">
    <ul class="site-footer-link-list">
        <li class="site-footer-link"><a href="#">我要开店</a></li>
        <li class="site-footer-link"><a href="#">联系我们</a></li>
        <li class="site-footer-link"><a href="#">服务条款和协议</a></li>
        <li class="site-footer-link"><a href="#">站点地图</a></li>
        <li class="site-footer-link"><a href="#">加入我们</a></li>
    </ul>
    <p class="site-footer-copyright"> Copyright ©2008-2014 ele.me, All Rights Reserved. </p>
    <p>
        <a class="site-footer-cert clearfix" target="_blank" href="#" rel="nofollow">
            <i class="icon-icp"></i>
            <span class="site-footer-crt-info">沪ICP备<br>09007032</span>
        </a>
        <a class="site-footer-cert clearfix" target="_blank" href="#" rel="nofollow">
            <i class="icon-aic"></i>
            <span class="site-footer-crt-info">上海工商<br>行政管理</span>
        </a>
    </p>
</div>