<div class="groupon-block">
    <div class="line-one">
        <div class="logo-wrapper">
            <div class="logo">
                <a href="#" target="_blank"><img class="groupon-logo" alt="XXX" src="uploads/thumb_1.jpg"></a>
            </div>
            <div class="count">
              108597 人购
            </div>
        </div>

        <div class="info">
            <div class="name">PANKOO釜山料理</div>
            <em class="price">¥179</em>
            <em class="old-price">¥200</em>
            <div class="buy">
                <span>立即抢购</span>
            </div>
        </div>
    </div>
</div>