<div class="restaurant-block  book">
    <div class="favor-book">
        <span class="favor-icon hidden"></span>
        <a href="#" class="hover-add-favor hidden entry-favor" style="display: none;">收藏</a>
        <a href="#" class="hover-un-favor hidden entry-un-favor" style="display: none;">取消收藏</a>
    </div>
    <div class="line-one">
        <div class="logo-wrapper">
            <div class="logo">
              <a href="#" target="_blank"><img class="restaurant-logo" alt="丽华快餐" src="uploads/r1_42_42.jpeg" srcset="uploads/r1_42_42.jpeg 1x, uploads/r1_84_84.jpeg 2x"></a>
            </div>
            <div class="deliver-time-wrapper free tooltip_on" data-toggle="tooltip" title="" data-original-title="实时送餐时间:36分钟">
                36分钟
            </div>
        </div>
    <div class="info">
        <div class="name">
            <a class="restaurant-link" href="#" target="_blank">丽华快餐</a>
        </div>
        <div class="status-label book">
            <span>接受预订</span>
        </div>
        <div class="status-desc book" style="display: block;">
            <span title="接受预订，送餐时间在10:30 开始">送餐时间10:30开始</span>
        </div>
        </div>
    </div>

    <div class="hidden line-hover-dlg" id="restaurant-hover-dlg-content-27065">
        <div class="restaurant-panel">
            <span class="favor-icon hidden"></span>
            <div class="restaurant-more-info">
                <div style="font-size:15px; margin-left:10px;">丽华快餐</div>
                <p class="book">
                    <span title="接受预订，送餐时间在10:30 开始">接受预订，送餐时间在10:30 开始</span>
                </p>
                <div class="divider hidden"></div>
                <ul class="icons">
                    <li>
                        <span class="restaurant-icons invoice" title="该餐厅支持开发票，开票订单金额最低5元起，请在下单时填写好发票抬头">&nbsp;</span>
                        <span class="desc" title="">该餐厅支持开发票，开票订单金额最低5元起，请在下单时填写好发票抬头</span>
                    </li>
                </ul>

                <div class="divider hidden"></div>
                <p class="ann">
                    <strong>公告:</strong>&nbsp;尊敬的客户您好！饭口较忙，电话常占线，本店优先配送网络订单2、首次订餐用户，饿了么客服会对您的订单进行电话确认（来电区号为021），请确保您的电话开机及铃声状态以便送餐员能联系上您3、外卖制作+配送都需要耗费时间，希望大家提前进行预订外卖，避开高峰拥堵，提前预定午餐晚餐。更多促销请咨询021-63031234      注：龙阳路新国际博览中心、博成路世博展览馆内有丽华快餐餐厅，如有订购请至门店购买，对此区域不外送
                </p>
                <p class="restaurant-deliver-desc">
                    <strong>起送价:</strong>&nbsp;到上海中为智能机器人有限公司 15元。 （额外说明：一份起送，起送价15元)
                </p>
                <p><strong>地址:</strong>&nbsp;上海市波阳路290号丽华快餐 总店</p>
                <p><strong>营业时间:</strong>&nbsp;10:30 - 13:30 / 16:30 - 19:00</p>
                <p><strong>简介:</strong>&nbsp;丽华快餐</p>
            </div>
        </div>
    </div>
</div>