<div class="restaurant-block closed">
    <div class="favor-book">
        <span class="favor-icon hidden"></span>
        <a href="#" class="hover-add-favor hidden entry-favor" style="display: none;">收藏</a>
        <a href="#" class="hover-un-favor hidden entry-un-favor" style="display: none;">取消收藏</a>
    </div>
    <div class="line-one">
        <div class="logo-wrapper">
            <div class="logo">
                <a href="#" target="_blank"><img class="restaurant-logo" alt="新旺茶餐厅" src="uploads/r4_42_42.jpeg" srcset="uploads/r4_42_42.jpeg 1x, uploads/r4_84_84.jpeg 2x"></a>
            </div>
            <div class="deliver-time-wrapper tooltip_on" data-toggle="tooltip" title="" data-original-title="餐厅刚开张，暂无送餐时间数据">
                &nbsp;&nbsp;
            </div>
        </div>
        <div class="info">
            <div class="name">
                <a class="restaurant-link" href="#" target="_blank">新旺茶餐厅</a>
            </div>
            <div class="status-label closed">
                <span>休息中</span>
            </div>

            <div class="status-desc closed" style="display: block;">
                <span title="餐厅太忙，暂时不接受新订单">太忙暂不接受新订单</span>
            </div>
        </div>
    </div>

    <div class="hidden line-hover-dlg" id="restaurant-hover-dlg-content-27351">
        <div class="restaurant-panel">
            <span class="favor-icon hidden"></span>
            <div class="restaurant-more-info">
                <div style="font-size:15px; margin-left:10px;">新旺茶餐厅</div>
                <p class="closed">
                    <span title="餐厅太忙，暂时不接受新订单">餐厅太忙，暂时不接受新订单</span>
                </p>
                <div class="divider hidden"></div>
                <ul class="icons">
                    <li>
                        <span class="restaurant-icons deliver-fee" title="该餐厅订餐需支付配送费15元">&nbsp;</span>
                        <span class="desc" title="">该餐厅订餐需支付配送费15元</span>
                    </li>
                    <li>
                        <span class="restaurant-icons invoice" title="该餐厅支持开发票，开票订单金额最低300元起，请在下单时填写好发票抬头">&nbsp;</span>
                        <span class="desc" title="">该餐厅支持开发票，开票订单金额最低300元起，请在下单时填写好发票抬头</span>
                    </li>
                </ul>
                <div class="divider hidden"></div>
                <p class="ann">
                    <strong>公告:</strong>&nbsp;友情提示：外卖配送时间在60-90分钟。本店所有菜品由新旺茶餐厅各分店就近取餐配送。配送范围：徐汇、长宁、浦东、黄埔、静安、闵行、虹口、闸北、杨浦、卢湾、浦东新区【餐厅周边2公里内，每超出1公里需加收5元配送费】
                </p>
                <p class="restaurant-deliver-desc">
                    <strong>起送价:</strong>&nbsp;到上海中为智能机器人有限公司 60元。 （额外说明：2公里内基本配送费，超出2公里每公里多加配送费5元！配送范围：徐汇、长宁、浦东、黄埔、静安、闵行、虹口、闸北、杨浦、卢湾)
                </p>
                <p>
                    <strong>地址:</strong>&nbsp;上海全配送【徐汇区】为饿了么地图距离定位地址
                </p>
                <p>
                    <strong>营业时间:</strong>&nbsp;11:30 - 20:30
                </p>
                <p>
                    <strong>简介:</strong>&nbsp;上海人气最旺的港式茶餐厅（因外卖菜肴烹饪所需一定时间，故配送到达为60-90分钟，敬请谅解）
                </p>
            </div>
        </div>
    </div>
</div>