<div class="restaurant-block">
    <div class="favor-book">
        <span class="favor-icon hidden"></span>
        <a href="#" class="hover-add-favor hidden entry-favor"  style="display: none;">收藏</a>
        <a href="#" class="hover-un-favor hidden entry-un-favor" style="display: none;">取消收藏</a>
    </div>
    <div class="line-one">
        <div class="logo-wrapper">
            <div class="logo">
                <a href="#" target="_blank">
                    <img class="restaurant-logo" alt="“主烤官”烧烤" src="uploads/r3_42_42.jpeg" srcset="uploads/r3_42_42.jpeg 1x, uploads/r3_84_84.jpeg 2x">
                </a>
            </div>
            <div class="deliver-time-wrapper busy tooltip_on" data-toggle="tooltip" title="" data-original-title="餐厅送餐时间超过45分钟">
                45+分钟
            </div>
        </div>
        <div class="info">
            <div class="name">
                <a class="restaurant-link" href="#" target="_blank">“主烤官”烧烤</a>
            </div>
            <div class="flavors three-line2"> 烧烤 </div>

            <div class="ratings three-line2">
                <div class="r10 rating-star" title="餐厅评价：4.9星"></div>
                    <span class="rating-number">32订单</span>
              </div>
        </div>
    </div>

    <div class="hidden line-hover-dlg" id="restaurant-hover-dlg-content-33307">
        <div class="restaurant-panel">
            <span class="favor-icon hidden"></span>
            <div class="restaurant-more-info">
                <div style="font-size:15px; margin-left:10px;">“主烤官”烧烤</div>
                <div class="divider hidden"></div>
                <p class="restaurant-deliver-desc">
                    <strong>起送价:</strong>&nbsp;到上海中为智能机器人有限公司 50元。 （额外说明：)
                </p>
                <p>
                    <strong>地址:</strong>&nbsp;西环路300号
                </p>
                <p>
                    <strong>营业时间:</strong>&nbsp;17:00 - 次日02:00
                </p>
                <p>
                    <strong>简介:</strong>&nbsp;“主烤官”连锁烧烤
                </p>
            </div>
        </div>
    </div>
</div>