<div id="site_fixed" class="site-fixed">
    <a id="back_top" class="btn-back-top" title="回顶部"><i class="icon-backtop"></i></a>
    <div class="btn-app-qrcode">
        <i class="icon-qrcode"></i>
        <img class="img-qrcode" src="assets/images/global/app-qrcode.png" alt="扫描二维码免费下载手机App">
    </div>
    <a class="btn-setup-shop" href="#" target="_blank">我要开店</a>
    <a class="btn-setup-shop" href="#" target="_blank">热门问题</a>
    <a class="btn-setup-shop" href="#" target="_blank">在线客服</a>
</div>