<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>上海市上海中为智能机器人有限公司附近的外卖饭店、餐厅 – 叫外卖上ele.me</title>
        <meta name="description" content="ele.me为你提供上海市上海中为智能机器人有限公司附近的海量美食信息，你可以直接在上面下单订餐，叫外卖还能赚积分，更有惊喜好礼等你拿哦！">
        <meta name="renderer" content="webkit">
        <link href="assets/css/main.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    </head>

    <body lim:visitorcapacity="1">
        <link href="assets/css/background.css" type="text/css" rel="stylesheet">
        {{ content }}
    </body>
</html>